<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <!--   Header-->
    <div class="col-12 d-flex flex-column align-items-start mb-2 ">
        <h6>SIGN UP </h6>
        <span>It's quick and easy.</span>
    </div>
    <!--    Name-->
    <div class="row d-flex flex-row mb-2">
        <div class="col-6">
            <input [formControlName]="FC_NAME.firstname"
                   type="text" placeholder="First Name"
                   class="form-control"
            />
        </div>
        <div class="col-6">
            <input  [formControlName]="FC_NAME.lastname"
                    type="text" placeholder="Last Name"
                    class="form-control"
            >
        </div>
    </div>
    <!--    Phone && Email-->
    <div class="row d-flex flex-row mb-2">
        <div class="col-6">
            <input [formControlName]="FC_NAME.phone"
                   type="number"
                   class="form-control" placeholder="Phone Number"
                   (keydown.arrowup)="(false)"
                   (keydown.arrowdown)="(false)"
                   (keypress)="numberOnly($event)"
            >
            <div *ngIf="signUpForm.get(FC_NAME.phone).invalid && signUpForm.get(FC_NAME.phone).touched"
                 class="text-danger">
                <ng-container *ngIf="signUpForm.get(FC_NAME.phone).errors"
                              [ngTemplateOutlet]="tmplErrorMessage"
                              [ngTemplateOutletContext]="{
                                message: signUpForm.get(FC_NAME.phone).errors.message
                              }
            "
                ></ng-container>
            </div>
        </div>
        <div class="col-6">
            <input [formControlName]="FC_NAME.email"
                   type="email" placeholder="Email"
                   class="form-control"
            >
            <div *ngIf="signUpForm.get(FC_NAME.email).invalid && signUpForm.get(FC_NAME.email).touched"
                 class="text-danger">
                <ng-container *ngIf="signUpForm.get(FC_NAME.email).errors"
                              [ngTemplateOutlet]="tmplErrorMessage"
                              [ngTemplateOutletContext]="{
                                message:signUpForm.get(FC_NAME.email).errors.message
                              }
            "
                ></ng-container>
            </div>
        </div>
    </div>
    <!--    Password-->
    <div class="form-group col-md-12 d-flex flex-column gap-2 mb-2">
        <div class="col-md-12 d-flex position-relative">
                    <input  [formControlName]="FC_NAME.password"
                            [type]="showPassword ? 'text' : 'password'"  placeholder="New password"
                            class="form-control"
                    >
                        <span class="icon-input"
                              (click)="togglePasswordVisibility()"
                        >
                              <i  class="bi"
                                  [ngClass]="{'bi-eye': showPassword, 'bi-eye-slash': !showPassword}">
                              </i>
                        </span>
        </div>
        <div *ngIf="signUpForm.get(FC_NAME.password).invalid && signUpForm.get(FC_NAME.password).touched">
            <ng-container *ngIf="signUpForm.get(FC_NAME.password).errors"
                          [ngTemplateOutlet]="tmplValidatePassword"
                          [ngTemplateOutletContext]="{
                            message: signUpForm.get(FC_NAME.password).errors
                          }
            "
            >
            </ng-container>
        </div>
    </div>
    <div class="form-group col-md-12 d-flex flex-column gap-2 mb-2 position-relative">
        <input  [formControlName]="FC_NAME.confirmpassword"
                [type]="showConfirmPassword ? 'text' : 'password'" placeholder="Confirm Password"
                class="form-control"
        >
        <span class="icon-input"
              (click)="toggleConfirmPasswordVisibility()"
        >
          <i class="bi"
              [ngClass]="{'bi-eye': showPassword, 'bi-eye-slash': !showPassword}">
          </i>
        </span>
        <div  *ngIf="signUpForm.get('confirmpassword').touched"
              class="text-danger">
              <ng-container *ngIf="signUpForm.errors; else noError">
                  <span class="text-danger">
                    {{ signUpForm.errors.valueNotMatch.messageErr }}
                  </span>
              </ng-container>
        </div>
    </div>
    <!--    Date of Birth-->
    <label class="text-sm">Date of birth</label>
    <div class="d-flex mb-2 gap-2">
        <div class="form-group col-md-4 mb-2">
            <select [formControlName]="FC_NAME.daydate"
                    class="form-select"
            >
                <option *ngFor="let day of getDays()"
                        [value]="day"
                >
                    {{ day }}
                </option>
            </select>
        </div>
        <div class="form-group col-md-4 mb-2">
            <select [formControlName]="FC_NAME.monthdate"
                    class="form-select"
            >
                <option *ngFor="let month of getMonths()"
                        [value]="month"
                >
                    {{ month }}
                </option>
            </select>
        </div>
        <div class="form-group col-md-4 mb-2">
            <select [formControlName]="FC_NAME.yeardate"
                    class="form-select"
            >
                <option *ngFor="let year of getYears()"
                        [value]="year"
                >
                    {{ year }}
                </option>
            </select>
        </div>
    </div>
    <!--    Gender-->
    <label class="form-check-label">
        Gender
    </label>
    <div class="form-group d-flex flex-row gap-4 mb-2">
        <div class="form-check">
            <input [formControlName]="FC_NAME.gender"
                   type="radio" value="male"
                   class="form-check-input" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Male
            </label>
        </div>
        <div class="form-check">
            <input [formControlName]="FC_NAME.gender"
                   type="radio" value="female"
                   class="form-check-input" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Female
            </label>
        </div>
        <div class="form-check">
            <input [formControlName]="FC_NAME.gender"
                   type="radio" value="other"
                   class="form-check-input" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Other
            </label>
        </div>
    </div>
    <!--    Button SignUp-->
    <div class="col d-flex justify-content-center mt-4">
        <button type="submit" [disabled]="signUpForm.invalid"
                class="btn btn-primary"
        >
            Sign Up
        </button>
    </div>
</form>

<ng-template #tmplErrorMessage
             let-message="message">
        <span>
            {{message}}
        </span>
</ng-template>

<ng-template #noError></ng-template>

<ng-template #tmplValidatePassword
              let-message="message"
>
  <div class="requirements">
    <strong>
      {{message.title}}
    </strong>
    <ul>
      <li [class]="message.length.class">
        {{ message.length.message }}
      </li>
      <li [class]="message.uppercase.class">
        {{ message.uppercase.message }}
      </li>
      <li [class]="message.lowercase.class">
        {{ message.lowercase.message }}
      </li>
      <li [class]="message.numbers.class">
        {{ message.numbers.message }}
      </li>
      <li [class]="message.symbols.class">
        {{ message.symbols.message }}
      </li>
    </ul>
  </div>
</ng-template>
<!-- <pre>
    {{
    signUpForm.get(FC_NAME.password).errors | json
    }}

</pre> -->

